

<div class="col-md-3">
  <!--<p><a routerLink="/user/overview" routerLinkActive="active">Overview</a></p>-->
  <!--<hr>-->
  <p class="text-capitalize green">CATEGORY</p>
  <p><a routerLink="/user/orders" routerLinkActive="active">CHAIR</a></p>
  <p><a routerLink="/user/orders" routerLinkActive="active">TABLE</a></p>
  <p><a routerLink="/user/orders" routerLinkActive="active">SOFA</a></p>
  <p><a routerLink="/user/orders" routerLinkActive="active">CAR</a></p>
  <hr>
  <p class="text-capitalize">COLOR</p>
  <p><a routerLink="/user/addresses" routerLinkActive="active">My Address</a></p>
</div>
