<div class="container">
  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="text-center text-muted">Register to NeoSTORE</h2>
      </div>
      <div class="panel-body">
        <p class="text-muted text-center">EASILY USING</p>
        <button class="btn btn-default btn-lg">
          <i class="fa fa-facebook fa-lg  text-primary" ></i>
          Facebook
        </button>
        <button class="btn btn-default btn-lg pull-right">
          <i class="fa fa-google fa-lg text-danger"></i>
          Google
        </button>

        <p class="text-muted text-center">--OR USING--</p>

        <form class="form-custom" autocomplete="on" [formGroup]="registerForm" (ngSubmit)="registerForm.invalid || register(registerForm.value)" novalidate>
          <div class="form-group">
            <input type="email" 
                   class="form-control" 
                   formControlName="email" 
                   [ngClass]="{ 'error' : email.invalid && (email.dirty || email.touched) }"
                   placeholder="Your Email Address">
            <small class="text-danger" *ngIf="email.invalid && (email.dirty || email.touched)">Please enter valid email</small>
         
            <input type="password" 
                   class="form-control" 
                   formControlName="password" 
                   [ngClass]="{ 'error' : password.invalid && password.dirty }"                   
                   placeholder="Choose Password">
            <small class="text-danger" *ngIf="password.invalid && password.dirty">Please enter valid password</small>
         
            <input type="password" 
                   validateEqual="password"
                   class="form-control" 
                   formControlName="confirmPassword" 
                   [ngClass]="{ 'error' : confirmPassword.invalid && confirmPassword.dirty }"
                   placeholder="Confirm Password">
            <small class="text-danger" *ngIf="confirmPassword.invalid && confirmPassword.dirty">Password does not matches</small>
                     
            <input type="number" 
                   class="form-control" 
                   formControlName="phoneNumber" 
                   [ngClass]="{ 'error' : phoneNumber.invalid && phoneNumber.dirty }"
                   placeholder="Enter Phone Number">
            <small class="text-danger" *ngIf="phoneNumber.invalid && phoneNumber.dirty">Please enter phone number</small>

            <legend class="gender-legend">I'm</legend>
            <div class="checkbox" [ngClass]="{ 'error' : gender.invalid && gender.dirty }">
              <label><input type="radio" formControlName="gender" value="male" name="gender"> <strong>Male</strong> </label>
              <label><input type="radio" formControlName="gender" value="female" name="gender"> <strong>Female</strong> </label>
            </div>
            <small class="text-danger" *ngIf="gender.invalid && gender.dirty">Please select</small>
         
            <button type="submit" [disabled]="registerForm.invalid" class="btn btn-lg btn-primary btn-block">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- /container -->
