<hr>

<div class="card" *ngIf="product">
  <div class="row">
    <div class="wrapper">
      <div class="col-md-6">
        <div class="preview">
          <div class="preview-pic tab-content">
            <div class="my-img active"><img class="actual-img" src="{{activeImage}}" [imageZoom]="zoomedImageSrc" lensStyle="LENS" /></div>            
          </div>
          <ul class="preview-thumbnail nav nav-tabs">
            <li *ngFor="let productimg of productImgArray" [id]="productimg.ImgURL" (click)="changeActiveImage(productimg)">
              <div class="my-img-thumb">
                <img [src]="productimg.ThumbURL100">
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 ">
        <div class="details">
          <h3 class="text-danger">{{product.product_name}}</h3>
          <div class="rating width-box">
            <star-rating-comp [starType]="'svg'" 
                              [rating]="rating" 
                              [size]="'medium'" 
                              [staticColor]="'negative'" 
                              [showHalfStars]="true"
                              [labelVisible]="false" 
                              [disabled]="true">
            </star-rating-comp>
          </div>

          <p class="text-default">{{product.product_description}}</p>
          <h4 class="text-danger">Price: <span class="text-success">{{product.product_cost | currency:'INR':true:'1.0-0'}}</span></h4>          
          <h4 class="text-danger">Dimensions: <span class="text-success">{{product.product_dimension}} (inches)</span></h4>
          <h4 class="text-danger">Color:
            <span class="color" [ngStyle]="{'background': product.product_color.color_code}"></span>            
          </h4>

          <div class="action">
            <button class=" btn btn-primary bt-color" type="button">ADD TO CART</button>
            <button class="btn btn-warning" type="button">RATE PRODUCT</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<hr>
