
<div class="card" *ngIf="product">
  <div class="row">
    <div class="wrapper">
      <div class="col-md-6">
        <div class="preview">
          <div class="preview-pic tab-content">
            <div class="my-img active"><img class="actual-img" src="{{activeImage}}" [imageZoom]="zoomedImageSrc" lensStyle="LENS" /></div>            
          </div>
          <ul class="preview-thumbnail nav nav-tabs">
            <li *ngFor="let productimg of productImgArray" [id]="productimg.ImgURL" (click)="changeActiveImage(productimg)">
              <div class="my-img-thumb">
                <img [src]="productimg.ThumbURL100">
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 ">
        <div class="details">
          <h3 class="text-danger">{{product.product_name}}</h3>

          <div class="rating width-box">
            <star-rating-comp [starType]="'svg'" 
                              [rating]="rating" 
                              [size]="'medium'" 
                              [staticColor]="'negative'" 
                              [showHalfStars]="true"
                              [labelVisible]="false" 
                              [disabled]="true">
            </star-rating-comp>
          </div>

          <hr>

          <h4 >Price: <span class="text-success">{{product.product_cost | currency:'INR':true:'1.0-0'}}</span></h4>          
          <h4 >Color:
            <span class="color" [ngStyle]="{'background': product.product_color.color_code}"></span>            
          </h4>

          

          <div class="action">
            <h4>Share on
              <i class="fa fa-share-alt fa-lg"></i>              
            </h4>
            <div class="share-container">
              <share-buttons [reddit]="false" 
                             [tumblr]="false" 
                             [stumbleUpOn]="false"
                             [pinterest]="false" 
                             [url]="'https://www.myntra.com/tops/rare/rare-women-mustard-embroidered-top/1790513/buy'">
              </share-buttons>
            </div>
          </div>

          <div class="action">
            <button class=" btn btn-primary bt-color" type="button">ADD TO CART</button>
            <button class="btn btn-warning" type="button">RATE PRODUCT</button>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="wrapper">
      <div class="col-md-12">
        <div class="preview">
          <tabset>
            <tab heading="Discription">
              <p class="caption">{{product.product_description}}</p>
            </tab>
            <tab heading="Features">
              <h5 class="caption">Dimensions: {{product.product_dimension}} (Width*Hieght in inc)</h5>
              <h5 class="caption">Material: {{product.product_material}}</h5>
              <h5 class="caption">Manufacturer: {{product.product_producer}}</h5>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</div>
    
<hr>

