/*html {
  position: relative;
  min-height: 100%;
}*/
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #e7e7e7;
}

.footer .text-muted {
    margin: 20px 0;
}