<!---->
<div class="col-md-8">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Product</th>
        <th class="text-center">Quantity</th>
        <th class="text-center">Price</th>
        <th class="text-center">Total</th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cartItems; let i = index" [attr.data-index]="i">
        <td class="col-sm-8 col-md-6">
          <div class="media">
            <div class="media-left">
              <a href="#">
              <img class="media-object cover" [src]="item.images[0].ThumbURL100" > 
            </a>
            </div>

            <div class="media-body">
              <h4 class="media-heading"><a href="#">{{item.product_name}}</a></h4>
              <h5 class="media-heading"> by <a href="#">{{item.product_producer}}</a></h5>
              <span>Status: </span><span class="text-success"><strong>In Stock</strong></span>
            </div>
          </div>
        </td>
        <td class="col-sm-1 col-md-2 text-center">
          <i (click)="downQuantity()" class="fa fa-minus-circle"></i>
          <input type="number" [(ngModel)]="productQty" class="text-center quantity">
          <i (click)="upQuantity()" class="fa fa-plus-circle"></i>
        </td>
        <td class="col-sm-1 col-md-1 text-center"><strong>{{item.product_cost | currency:'INR':true:'1.0-0'}}</strong></td>
        <td class="col-sm-1 col-md-1 text-center"><strong>{{item.product_cost*productQty | currency:'INR':true:'1.0-0'}}</strong></td>
        <td class="col-sm-1 col-md-1">
          <button (click)="deleteCartItem(i)" type="button" class="btn btn-sm btn-danger">
            <i class="fa fa-trash"></i>
          </button></td>
      </tr>

    </tbody>

  </table>
</div>


<app-sidebar [cartItems]="cartItems" [productQty]="productQty" ></app-sidebar>

