<div class="footer">
  <div class="container">
    <hr>
    <div class="row text-center">
      <i tooltip="PayPal" class="text-info fa fa-3x fa-cc-paypal "></i>
      <i tooltip="MasterCard" class="text-danger fa fa-3x fa-cc-mastercard "></i>
      <i tooltip="Visa" class="text-primary fa fa-3x fa-cc-visa "></i>
      <i tooltip="Amex" class="text-primary fa fa-3x fa-cc-amex "></i>
      <i tooltip="Discover" class="text-primary fa fa-3x fa-cc-discover "></i>
      <i tooltip="PayPal" class="text-info fa fa-3x fa-paypal "></i>     
      <i tooltip="Google Wallet" class="text-danger fa fa-3x fa-google-wallet "></i>
    </div>
  </div>
</div>