<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Select delivery address</h3>
    <hr>
  </div>
  <div class="panel-body" *ngFor="let address of addresses">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>{{address.fulladdress}}</p>
        <p>{{address.city}}-{{address.pincode}}</p>
        <p>{{address.state}}</p>
        <p>{{address.country}}</p>                
      </div>
      <div class="panel-footer">
        <input (click)="selectAddress(address)" type="radio" name="address" > Select
        <a [routerLink]="['/user/edit/address', address.id]" type="button" class=" btn-default">
          <i class="fa fa-pencil"></i>
          Edit
        </a>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <hr>
    <button [disabled]="!this.selectedAddress.length" (click)="goToPayment()" type="button" class="btn btn-default btn-lg">
      Next <i class="fa fa-angle-double-right"></i>
    </button>
  </div>
</div>
