<div class="panel panel-default">
  <div class="panel-body">
    <h4><strong>Edit Profile</strong></h4>
    <hr>

    <form [formGroup]="editProfileForm" (ngSubmit)="editProfileForm.invalid || editProfile(editProfileForm.value)" novalidate>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group" >
            <label for="firstName">First Name</label>         
            <input type="text" 
                   class="form-control" 
                   formControlName="firstName" 
                   [ngClass]="{ 'error' : firstName.invalid && firstName.dirty }">
          </div>
          <small class="text-danger" *ngIf="firstName.invalid && firstName.dirty">Please enter valid first name</small>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group" >
            <label for="lastName">Last Name</label>         
            <input type="text" 
                   class="form-control" 
                   formControlName="lastName" 
                   [ngClass]="{ 'error' : lastName.invalid && lastName.dirty }">
          </div>
          <small class="text-danger" *ngIf="lastName.invalid && lastName.dirty">Please enter valid last name</small>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group" >
            <label for="gender">Gender</label>         
            <div class="checkbox" [ngClass]="{ 'error' : gender.invalid && gender.dirty }">
              <label><input type="radio" formControlName="gender" value="male" name="gender"> <strong>Male</strong> </label>
              <label><input type="radio" formControlName="gender" value="female" name="gender"> <strong>Female</strong> </label>
            </div>
          </div>
          <small class="text-danger" *ngIf="gender.invalid && gender.dirty">Please select gender</small>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group" >
            <label for="dateOfBirth">Date of Birth</label>         
            <input type="date" 
                   class="form-control" 
                   formControlName="dateOfBirth" 
                   [ngClass]="{ 'error' : dateOfBirth.invalid && dateOfBirth.dirty }">
          </div>
          <small class="text-danger" *ngIf="dateOfBirth.invalid && dateOfBirth.dirty">Please enter valid date</small>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group" >
            <label for="mobile">Mobile</label>         
            <input type="number" 
                   class="form-control" 
                   formControlName="mobile" 
                   [ngClass]="{ 'error' : mobile.invalid && mobile.dirty }">
          </div>
          <small class="text-danger" *ngIf="mobile.invalid && mobile.dirty">Please enter valid mobile number</small>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group" >
            <label for="email">Email</label>         
            <input type="email" 
                   class="form-control" 
                   formControlName="email" 
                   [ngClass]="{ 'error' : email.invalid && email.dirty }">
          </div>
          <small class="text-danger" *ngIf="email.invalid && email.dirty">Please enter valid email</small>
        </div>
      </div>
      
      <hr>
      <button type="submit" [disabled]="editProfileForm.invalid" class="btn btn-default btn-lg"><i class="fa fa-floppy-o"></i>Save</button>
      <button [routerLink]="['/user/profile']" type="button" class="btn btn-default btn-lg"><i class="fa fa-remove"></i>Cancel</button>
    </form>


  </div>
</div>
