<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Payment Details</h3>
      </div>
      <form [formGroup]="paymentForm" (ngSubmit)="paymentForm.invalid ||  payment(paymentForm.value)" novalidate>
        <div class="panel-body">
          <div class="form-group">
            <label for="cardNumber">CARD NUMBER</label>
            <div class="input-group">
              <input type="number" 
                     formControlName="cardNumber" 
                     size="20" 
                     data-stripe="number" 
                     class="form-control" 
                     id="cardNumber"
                     [ngClass]="{ 'error' : cardNumber.invalid && cardNumber.dirty }"
                     placeholder="Valid Card Number"/>
              <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
            </div>
            <small class="text-danger" *ngIf="cardNumber.invalid && (cardNumber.dirty || cardNumber.touched)">Please enter valid card number</small>
          </div>
          <div class="row">
            <div class="col-xs-7 col-md-7">
              <label for="expiryMonth">EXPIRY DATE</label>
              <div class="form-group">
                <div class="col-xs-6 col-lg-6 pl-ziro">
                  <input type="number" 
                         formControlName="expiryMonth"
                         size="2" 
                         data-stripe="exp_month" 
                         class="form-control" 
                         id="expiryMonth"
                         [ngClass]="{ 'error' : expiryMonth.invalid && expiryMonth.dirty }" 
                         placeholder="MM"  />
                  <small class="text-danger" *ngIf="expiryMonth.invalid && (expiryMonth.dirty || expiryMonth.touched)">Please enter valid month</small>
                </div>
                <div class="col-xs-6 col-lg-6 pl-ziro">
                  <input type="number" 
                         formControlName="expiryYear" 
                         size="2" 
                         data-stripe="exp_year" 
                         class="form-control" 
                         id="expityYear"
                         [ngClass]="{ 'error' : expiryYear.invalid && expiryYear.dirty }" 
                         placeholder="YY" />
                  <small class="text-danger" *ngIf="expiryYear.invalid && (expiryYear.dirty || expiryYear.touched)">Please enter valid year</small>
                </div>
              </div>
            </div>
            <div class="col-xs-5 col-md-5 pull-right">
              <div class="form-group">
                <label for="cvCode">CV CODE</label>
                <input type="password" 
                       formControlName="cvc"
                       size="4" 
                       data-stripe="cvc" 
                       class="form-control" 
                       id="cvCode"
                       [ngClass]="{ 'error' : cvc.invalid && cvc.dirty }" 
                       placeholder="CV" />
                <small class="text-danger" *ngIf="cvc.invalid && (cvc.dirty || cvc.touched)">Please enter valid cvc</small>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <br/>
          <button type="submit"
                  *ngIf="!isSubmit" 
                  [disabled]="paymentForm.invalid" 
                  class="btn btn-success btn-lg btn-block"
                  value="Submit Payment">
                  Pay          
          </button>
          <div class="text-center" *ngIf="isSubmit">
            <h4>Please do not refresh or press back before completing process</h4>
            <div id="floatingCirclesG">
              <div class="f_circleG" id="frotateG_01"></div>
              <div class="f_circleG" id="frotateG_02"></div>
              <div class="f_circleG" id="frotateG_03"></div>
              <div class="f_circleG" id="frotateG_04"></div>
              <div class="f_circleG" id="frotateG_05"></div>
              <div class="f_circleG" id="frotateG_06"></div>
              <div class="f_circleG" id="frotateG_07"></div>
              <div class="f_circleG" id="frotateG_08"></div>
            </div>
          </div>

          <small class="payment-message" *ngIf="message" >{{message}}</small>
        </div>
      </form>
    </div>
  </div>
</div>

