<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ol class="nav navbar-nav ">
        <li [ngClass]="{ 'active': isActiveRoute('cart')}" >
            <a [ngClass]="{'can-click': checkIfClickable('cart') }" 
               [routerLink]="getRouterLink('cart')">Bag</a>
        </li>
        <li [ngClass]="{ 'active': isActiveRoute('address')}">
            <a [ngClass]="{'can-click': checkIfClickable('address')}" 
               [routerLink]="getRouterLink('address')">Delivery</a>            
        </li>
        <li [ngClass]="{ 'active': isActiveRoute('payment')}">
            <a [ngClass]="{'can-click': checkIfClickable('payment')}" 
               [routerLink]="getRouterLink('payment')">Payment</a>            
        </li>
      </ol>
    </div>
  </div>
</nav>

<!--
<div class="checkout-header">
  <div class="full-container">
    <a class="navbar-brand" routerLink="/"><img src="assets/logo.png" alt="Angular Spree"></a>
    <ol class="checkout-steps">
      <li class="step step1">
        <a [ngClass]="{'can-click': checkIfClickable('cart'), 'active': isActiveRoute('cart')}" [routerLink]="getRouterLink('cart')">Bag</a>
      </li>
      <li class="divider"></li>
      <li class="step step2">
        <a [ngClass]="{'can-click': checkIfClickable('address'), 'active': isActiveRoute('address')}" [routerLink]="getRouterLink('address')">Delivery</a>
      </li>
      <li class="divider"></li>
      <li class="step step3">
        <a [ngClass]="{'can-click': checkIfClickable('payment'), 'active': isActiveRoute('payment')}" [routerLink]="getRouterLink('payment')">Payment</a>
      </li>
    </ol>
  </div>
</div>-->