<div class="col-md-4 ">
  <!--REVIEW ORDER-->
  <div class="panel panel-default">
    <div class="panel-heading text-center panel-heading-custom">
      <h4>Review Order</h4>
    </div>
    <div class="panel-body" *ngIf="cartItems" >
      <div class="col-md-12">
        <strong>Subtotal (# items {{cartItems.length}})</strong>
        <div class="pull-right"><span>{{subTotal | currency:'INR':true:'1.0-0'}}</span></div>
        <hr>
      </div>
      <div class="col-md-12">
        <strong>Tax</strong>
        <div class="pull-right"><span>200.00</span></div>
        <hr>
      </div>
      <div class="col-md-12">
        <strong>Order Total</strong>
        <div class="pull-right"><span>{{grandTotal}}</span></div>
        <hr>
      </div>
      <button type="button" class="btn btn-primary btn-lg btn-block">Checkout</button>
    </div>
  </div>
  <!--REVIEW ORDER END-->
</div>
