<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Profile</h2>
  </div>
  <hr>
  <div class="panel-body">
    <table class="table borderless">
      <tbody>
        <tr>
          <th>First Name</th>
          <td>Sohail</td>
        </tr>
        <tr>
          <th>Last Name</th>
          <td>Khan</td>
        </tr>
        <tr>
          <th>Gender</th>
          <td>Male</td>
        </tr>
        <tr>
          <th>Date of Birth</th>
          <td>15 March 1993</td>
        </tr>
        <tr>
          <th>Mobile Number</th>
          <td>+918767375751</td>
        </tr>
        <tr>
          <th>Email</th>
          <td>suhel.khan@neosofttech.com</td>
        </tr>
      </tbody>
    </table>
  </div>
  <hr>
  <div class="panel-footer">
    <button type="button" class="btn btn-default btn-lg">Edit</button>
  </div>
</div>
