<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Profile</h2>
    <hr>
  </div>
  <div class="panel-body">
    <table class="table borderless">
      <tbody *ngIf="user" >
        <tr>
          <th>First Name</th>
          <td>{{user.first_name}}</td>
        </tr>
        <tr>
          <th>Last Name</th>
          <td>{{user.last_name}}</td>
        </tr>
        <tr>
          <th>Gender</th>
          <td>{{user.gender}}</td>
        </tr>
        <tr>
          <th>Date of Birth</th>
          <td>{{user.birth_date}}</td>
        </tr>
        <tr>
          <th>Mobile Number</th>
          <td>+{{user.phone_no}}</td>
        </tr>
        <tr>
          <th>Email</th>
          <td>{{user.email}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="panel-footer">
    <hr>
    <button type="button" class="btn btn-default btn-lg">Edit</button>
  </div>
</div>
