<div class="container-fluid">
  <div class="col-md-12">
    <h4> My Account </h4>
    <hr>
  </div>

  <div class="col-md-3" *ngIf="user">
    <div *ngIf="profilePic">
      <img src={{profilePic}} class="img-responsive img-circle profile" alt="profile_pic" >
    </div>

    <div class="text-center">
      <br>
      <div class="text-danger"><strong>{{user.first_name}} {{user.last_name}}</strong></div>
    </div>

    <br>
    <ul class="nav">
      <li><a routerLink="/user/orders" routerLinkActive="active"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp; Orders</a></li>
      <li><a routerLink="/user/profile" routerLinkActive="active"><i class="fa fa-user fa-fw" aria-hidden="true"></i>&nbsp; Profile</a></li>
      <li><a routerLink="/user/addresses" routerLinkActive="active"><i class="fa fa-address-book fa-fw" aria-hidden="true"></i>&nbsp; Address</a></li>
    </ul>

  </div>

  <br>
  <div class="col-md-9">
    <router-outlet></router-outlet>
  </div>
</div>
