<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Addresses</h2>
    <hr>
  </div>
  <div class="panel-body">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3><strong>Sohail Khan</strong></h3>
        <p>Building No.53, Room No.203, Sanjivni CHS PMGP Mhada Colony</p>
        <p>Mankhurd (W)</p>
        <p>Mumbai-400043</p>
        <br>
        <p>Mobile: 8767375751</p>
      </div>
      <div class="panel-footer">
        <hr>
        <button type="button" class="btn btn-default btn-lg">
          <i class="fa fa-pencil"></i>
          Edit
        </button>
        <button type="button" class="btn btn-default btn-lg">
          <i class="fa fa-remove"></i>
          Remove
        </button>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <hr>
    <button type="button" class="btn btn-default btn-lg">Add new</button>
  </div>
</div>
